

<h1>welcome to homepage</h1>

<div>
    <a class="links" href="/api/destroy-session">Log-Out</a>
</div>

<div>
    <h3>My name: <a href="/api/profile/<%= user.id%>"><%= locals.user.username %></a></h3>
</div>

<% for (userr of all_users){ %>
    <% if(userr.id == locals.user.id){ %>
        <%continue%>
    <% } %>
    <ul>
        <p>
            <a href="/api/profile/<%= userr.id%>"><%= userr.username%></a>
            &nbsp;
            <a href="/api/profile/<%= userr.id%>">View Availability</a>
        </p>        
    </ul>
<% } %>

