<!-- 
<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/gh/alumuko/vanilla-datetimerange-picker@latest/dist/vanilla-datetimerange-picker.css">

<script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/gh/alumuko/vanilla-datetimerange-picker@latest/dist/vanilla-datetimerange-picker.js"></script> -->


<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<p>E-mail: <%= userProfile.email %></p>
<p>Name: <%= userProfile.username %></p>

<% if(userProfile.id != locals.user.id){ %>
  <p>Off-Hours: 
    <% if(userProfile.offHours.length == 0){ %>
      Available all hours
    <% } %>
    <%= userProfile.offHours %></p>
  </p>
<% } %>


<% if(userProfile.id == locals.user.id){ %>
  <p>My off-hours: 
    <% if(userProfile.offHours.length == 0){ %>
      You haven't selected off-hours yet!
    <% } %>
    <%= userProfile.offHours %></p>
  <p>My upcoming appointments: 
    <% if(userProfile.upcoming_appointments.length == 0){ %>
      No appointments scheduled
    <% } %>
    <%= userProfile.upcoming_appointments%></p>

  <hr>

  <p>Set off hours: </p>

  <!-- form for picking slot to be marked as off hours -->
  <form action="/api/slot/mark-as-off" method="POST">
      <input type="text" name="datetimes" style="text-align: center;width: 250px;cursor: pointer;padding: 5px 10px; border: 1px solid #ccc;background: #fff;"/>
      <button type="submit">Mark as Not Available</button>
  </form>
<% } %>

<% if(userProfile.id != locals.user.id){ %>

  <!-- form to GET set appointment page -->
  <form action="/api/slot/appointment-plannar/<%= userProfile.id%>" method="get">
    <code>Book Appointments for available slots*</code>
    <button type="submit">Go to Appointment Plannar</button>
  </form>

<% } %>

<!-- script for date-time picker -->
<script>
$(function() {
  $('input[name="datetimes"]').daterangepicker({
    timePicker: true,
    // opens: 'left',
    drops: 'down',
    minDate: moment().subtract(1, 'seconds'),
    startDate: moment().startOf('hour'),
    endDate: moment().startOf('hour').add(5, 'hour'),
    locale: {
      // format: 'M/DD hh:mm A'
      format: 'MMM D hh:mm A'
    }
  }, function(start, end, label){
    console.log("new slot selection: " + start.format('MMM D') + "to" + end.format('MMM D'));
  });
});
</script>

<p></p>
<% if(userProfile.id == locals.user.id){ %>
<a href="/api/profile/update-profile/<%= user.id%>"> Edit Profile </a>
<% } %>
